<div class="container">
  <div class="row">
    <div class="col col-md-12">
      <header>WELCOME BACK !</header>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
    <form method="POST" action="login">
      <input type="email" placeholder="E-Mail" class="form-control" id="exampleInputEmail1" required><br>
      <input type="password" placeholder="Password" class="form-control" id="exampleInputPassword1" required><br>
      <input class="btn btn-default" type="submit" value="Submit">
    </form>
    </div>
  </div>
</div>