<h1>New Restaurant</h1>
<form method="POST" action="/restaurants/create">
  <label for="name">Restaurant: </label>
  <input type="text" name="name" id="name" placeholder="restaurant name">
  <br>
  <label for="street">Street: </label>
  <input type="text" name="street" id="street" placeholder ="street">
  <br>
  <label for="city">City: </label>
  <input type="text" name="city" id="city" placeholder ="city">
  <br>
  <input class="btn btn-default" type="submit" value="Submit">
</form>